.header {
  margin-top: 20px;
  font-size: 60px;
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(32, 141, 105);
  border-bottom: 1px solid rgb(161, 158, 158) ;
  margin-left: 15px;
  height: 100px;
  display: flex;
  justify-content: center;
}

 body {margin: 0;}

 main {
      height: 65vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      }

    .center-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .label {
      font-size: 14px;
      color: #555;
    }

    .search-box {
      width: 400px;
      padding: 12px 20px;
      border: 1px solid #ccc;
      border-radius: 24px;
      font-size: 16px;
      outline: none;
      transition: box-shadow 0.2s ease;
    }

    .search-box:focus {
      box-shadow: 0 0 5px rgba(66, 133, 244, 0.5);
      border-color: #4285f4;
    }

    .divider {
      width: 100%;
      height: 1px;
      background: linear-gradient(to right, transparent, #ccc, transparent);
      margin-top: 40px;
    }

.btn {
  background-color: rgb(32, 141, 105);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
 background-color: rgb(9, 61, 44);
}

  .book-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;


}

.description {
  font-family: "Open Sans", Arial, sans-serif; 
  font-size: 1,2 rem; 
  color: #000000; 
  background-color: #f9f9f9; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  margin-top: 10px;
  width: 100%;
}

#result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  background-color: #f9f9f9;
}

.book {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.book.full-width {
  grid-column: 1 / -1;
}

.book .description.open {
  max-height: 500px;
}

.book .btn {
    display: inline-block;
  width: auto;
  align-self: flex-start;
  padding: 6px 10px;
  background-color: rgb(32, 141, 105);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s;
}

.book .btn:hover {
 background-color: rgb(9, 61, 44);
}